for (let i = 5; i < products.length; i++) {
	const product = products[i];
	<div class="col-12 col-sm-6 col-lg-3">
		<section class="product-box">
			<a href="/products/detalle/<%= products.id %>">
				<figure class="product-box_image">
					<img src="<%= products.imagen %>" alt="<%= products.nombre %>">
				</figure>
				<article class="product-box_data">
					<h2><%= products.nombre %></h2>
					<p><%= products.descripcion %>...</p>
					<p>Comentarios: <%= products.comentarios.length %></p>
				</article>
			</a>
		</section>
	</div>
}
						