<div class="contenedor-bandas">
         <li>
                Nombre: <%= bandas.nombre %> |
                Género: <%= bandas.genero %> |
                Integrantes: <%= bandas.integrantes %> |
                Top Canciones: <%= bandas.topCanciones.join(", ") %>

               <img src="/<%= bandas.cover %>" alt="">
            </li>
    </div>